<!DOCTYPE html>
<html ng-app="webcomviewer" lang="en-us" class="no-js" id="rootId">
  <head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Webcom Viewer</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/images/favicon.ico">
	<link rel="stylesheet" href="/css/patternfly/dist/css/patternfly.min.css" />
    <link rel="stylesheet" href="/css/patternfly/dist/css/patternfly-additions.min.css" />
    <link rel="stylesheet" href="/css/angular-patternfly/angular-patternfly.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/font-awesome.min.css"></script>
	<link rel="stylesheet" type="text/css" href="/css/angular-bootstrap-colorpicker/colorpicker.min.css"/>
	<link rel="stylesheet" type="text/css" href="/css/stylesheet.css"></script>
	<script src="/css/jquery/dist/jquery.min.js"></script>
	<script src="/css/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/css/c3/c3.min.js"></script>
    <script src="/css/d3/d3.min.js"></script>
	<script src="/js/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
	<script src="/js/angular/angular.min.js"></script>
	<script src="/js/webcom/webcom.js"></script>
    <script src="/js/angularwebcom-fire/angularwebcom_dirty.js"></script>
	<script src="/css/angular-bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
	<script src="/js/lodash/lodash.min.js"></script>
	<script src="/css/patternfly/dist/js/patternfly.min.js"></script>
	<script src="/css/angular-patternfly/angular-patternfly.min.js"></script>
	<script src="/css/angular-bootstrap-colorpicker/bootstrap-colorpicker-module.min.js"></script>
	<script src="/js/APP.JS"></script>
	<script src="/js/nodes/nodes.js"></script>
	<script src="/js/dashboard/dashboard.js"></script>
  </head>
<body ng-controller="wvcontroller">
<nav class="navbar navbar-default navbar-fixed-top navbar-pf wv-top-space-5px" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      
<div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

<a tabindex="-1" class="navbar-brand" href="/index.html">
          <strong>Webcom Viewer</strong> <small>webcom based application</small>
        </a>
      </div>

<div class="collapse navbar-collapse" id="navbar-collapse-main">
	<ul ng-init="selectedTab ='dashboard'" class="nav navbar-nav navbar-primary persistent-secondary">
          <!-- Dashboard -->
          <li ng-class="{active: selectedTab ==='dashboard'}" ng-click="selectedTab = 'dashboard'">
            <a ui-sref="dashboard"><i class="fa fa-tachometer fa-lg"></i> Dashboards</a>
            <ul class="nav navbar-nav navbar-persistent">
              <li ui-view="dashboardList" ng-class="{active: selectedTab ==='dashboard'}">
				<a ui-sref="dashboard" href="/partials/dashboard/dashboard.html">Dashboards</a>
			  </li>
            </ul>
	<li ng-class="{active: selectedTab === 'resources'}" ng-click="selectedTab = 'resources'">
            <a ui-sref="gatewaysList"><i class="fa  fa-cubes fa-lg"></i> Resources</a>
            <ul class="nav navbar-nav navbar-persistent">
              <li ng-class="{active: selectedTab === 'gateways'}"><a ui-sref="gatewaysList"><i class="fa fa-plug fa-lg"></i> Gateways</a></li>
              <li ng-class="{active: selectedTab === 'nodes'}"><a ui-sref="nodesList" href="/partials/nodes/nodes_list.html"><i class="fa fa-sitemap fa-lg"></i> Nodes</a></li>
              <li ng-class="{ active: $state.current.name.indexOf('sensors') == 0 }"><a ui-sref="sensorsList"><i class="fa fa-eye fa-lg"></i> Sensors</a></li>
            </ul>
          </li>
</ul>
</div>
</nav>
  </body>
</html>
